<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PortalUrl" value="http://localhost/litecart"/>
    <add key="AdminPortalUrl" value="http://localhost/litecart/admin"/>
    <add key="AdminName" value="admin"/>
    <add key="AdminPswd" value="admin"/>
  </appSettings>
</configuration>